DATABASE_URL=postgres://user:password@localhost:5432/dbname
SESSION_COOKIE_SECURE=true
ADMIN_EMAIL=
ADMIN_PASSWORD=
INVENTORY_CSV_URL=https://vendordownloads.homenetinc.com/VerHoefChevroletBuick/VerHoefChevroletBuick.csv
NODE_ENV=production